body{
    background-color: #faf9f6;
}
#imgHeader{
    width: 80px;
    height: 20px;
}
h1{
    font-family: 'Itim', cursive;
    font-family: 'Poppins', sans-serif;
}
#Creative{
    color: rgb(17, 17, 153);
}
#ImgBeautiful{
    width: 150px;
    height: 100px;
}
#ImgConstruction{
    width: 150px;
    height: 100px;
}
div{
    display: inline-block;
    margin: 20px;
}
#corner{
    text-align: right;
    color:rgb(26, 26, 151) ;
}